@import "../../assets/style/mixin.css";

footer{
  position: relative;
  margin-top: 50px;
.content{
  position: relative;
  z-index: 10;
}
.footer-top{
  border-bottom: 1px solid $fc;
  padding: 17px 0;
@include flex(space-between);
.footer-info-lt{
  line-height: 58px;
p{
@include font(18px,$fc);
  font-weight: 500;
  position: relative;
}
}
}
.footer-bottom{
address{
@include font(15px,$fc,center);
  line-height: 50px;
}
}
}