@import "../../assets/style/base.css";
.header-nav{
  border-bottom: 1px solid #f0f0f0;
  height: 60px;
  line-height: 60px;
  & ul{
    display: flex;
    justify-content: center;
    & li{
      margin: 0 20px;
    }
  }
  & .guide-item{
    color: #666;
    &.active{
      color: var(--theme-color);
    }
  }

}