@import url('../../assets/style/mixin.css');
.header-top{
  .content{
    @include flex(space-between);
    height: 160px;
  }
  .logo-link{
    display: flex;
    flex-direction: row;

    img{
      width: 180px;
    }
    .logo-description{
      border-left: 3px solid #333;
      height: 58px;
      padding-left: 22px;
      margin-left: 24px;
      p{
        font-family: "font", sans-serif;
        @include font(22px);
        font-weight: normal;
        line-height: 1;
        &:first-child{
           margin-bottom: 12px;
        }
      }
    }
  }
}

.contact{
  display: flex;
  flex-direction: row;
  p{
    @include font(16px,#333,right);
    margin-right: 12px;
    font-weight: bold;
  }
  img{
    width: 56px;
    height: 56px;
  }
}

.header-bottom{
  background-color: #3364E8;
  ul{
    @include flex(space-between);
    flex-direction: row;
    li{
      .guide-item{
        @include font(18px,$fc);
        @include trs(background);
        line-height: 54px;
        display: inline-block;
        padding: 0 25px;
        font-weight: bold;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 4px;
          width: 100%;
          background-color: #FF9C00;
          opacity: 0;
          transition:opacity,transform .1s;
          -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
          transform: translateX(-20px);
        }
        &:hover,
        &.active{
         background-color: $blueHover;
          &:after{
            opacity: 1;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }
        }
      }
    }
  }
}